/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*{
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

img{
    padding: 0px;
    border: none;
}
.header > a {
  color: inherit;
}
a{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #515151;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 17px;
    background-image: url("https://www.ccpgames.com/img/universe/background_nebula.jpg");
}
.clear{
  clear: both;
}

#wrap{
  width: 1000px;
  margin: 0 auto;
}

.wid_center{
  width: 1000px;
  margin: 0 auto;
}

.blerb {
  color: #000000;
  text-align:center;
}
#logo_hover {
  margin-top: 25px ;
  height: 280px;
  margin-left: 300px;
  width: auto;
  position: absolute;
  transition: opacity 2s;
  opacity: 0;
}

/*
 navigation
*/


#menu{
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

#menu ul{
  list-style: none;
  height: 100%;
  padding: 0px;
}

#menu ul li{
  vertical-align: top;
  height: auto;
  display: inline;
}

#menu ul li a{
  font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    display: block;
    float: left;
	width: 120px;
    height: 45px;
	text-align: center;
}


.header {
  color: #e9e9e9 !important;
  position: relative;
  text-shadow: 5px #000000;
  text-align: center;
  padding-bottom: 5px;
}

.filter {
  width: 100%;
  height: 100%;
  position: absolute;
}

/*
  3 column box
*/

.col1, .col2, .col3{
  float: left;
  width: 300px;
  padding: 0px 15px 0px 15px;
}

